header {
  display: flex;
  padding: 15px 5%;
  height: 50px;
  width: 100%;

  .nav-bar {
    display: flex;
    img {
      margin-right: 30px;
    }
    ul {
      display: flex;
      align-items: center;
      li {
        margin-right: 30px;
        a {
          color: #262626;
          font-size: 13px;
          font-family: Microsoft JhengHei;
        }
      }
    }
  }
  .nav-search {
    margin-left: auto;
    display: flex;
    align-items: center;
  
    }
    .search {
      margin-right: 45px;
      display: flex;
      align-items: center;
      a {
        color: #262626;
        font-size: 13px;
        font-family: Microsoft JhengHei;
      }
      & > li {
        margin-right: 15px;
      }
      span {
        margin-right: 5px;
      }
      .menu-item {
        position: relative;
        
        &:active .nav-menu{
          display: flex ;
        }
        
      .nav-menu {
        display:none;
        position: absolute;
        background-color: #f2f2f2;
        // display: flex;
        width: 1200px;
        height: 416px;
        left: -1000px;
        z-index: 9999;
        margin-top: 15px;
        border: 1px solid #e6e6e6;
        justify-content: space-between;
        padding: 25px;
        padding-bottom: 0px;
       
        li {
          margin-bottom: 30px;
          &>ul{
            li{
              margin-top: 30px;
            }
          }
          
        }
      }
    }
  }
  .cart {
    display: flex;
    align-items: center;
    & > li {
      margin-right: 10px;
    }
    a {
      color: #262626;
      font-size: 13px;
      font-family: Microsoft JhengHei;
    }

    li:nth-child(2) {
      a {
        display: flex;
        align-items: center;
        &:hover {
          text-decoration: none;
          border-bottom: 0;
          padding: 0;
        }
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
